.home .main {

      width: 212px;
      height: 212px;
    }
  }


  .typewriter {
    font-size: 1.45em;
  }

  .home .logo {
    width: 212px;
    height: 212px;
  }
}

@media screen and (max-width: 450px) {
  .typewriter {
    font-size: 0.85em;
  }
}

